[submodule "vendor/Mochi.DearImGui"]
	path = vendor/Mochi.DearImGui
	url = https://github.com/MochiLibraries/Mochi.DearImGui.git
	branch = main
[submodule "vendor/Mochi.DearImGui/imgui"]
	path = vendor/Mochi.DearImGui/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "vendor/Mochi.DearImGui/Biohazrd"]
	path = vendor/Mochi.DearImGui/Biohazrd
	url = https://github.com/MochiLibraries/Biohazrd.git
	branch = main
